[Unit]
Description=Gunicorn instance to serve polushack
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/apps/polushack/backend
#Environment="PATH=/var/www/myapp/venv/bin"
ExecStart=make run
Restart=always

[Install]
WantedBy=multi-user.target
