.add-application-modal-wrapper {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.add-application-modal-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #193856;
}

.add-application-modal-input-block {
    display: flex;
    column-gap: 24px;
    width: 100%;
}

.add-application-modal-input {
    width: 340px;
    height: 52px;
    padding: 16px 14px;
    background: #F2F1EF;
    border: 1px solid #F7FAFC;
    border-radius: 12px;
}
